header {
    background-color: #d3d3d3;
    text-align: center;
}

h1 {
    background-color: #d3d3d3;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
}

a {
    color: #008b8b;
    background-color: #ffe4c4;
}

aside {
    display: none;
}

h2{ color: #00008b;
    text-transform: uppercase;

}

section  {
    background-color: #808080;
}